h1 { color: rgba(11, 11, 243, 0.836); }




h1 { color: #F0A050; }
th, td { border: dashed thick black; }
th.important { color: rgba(255, 0, 0, 0.938); }
p.sample1 {border: double 10px #0000ff;}
p.sample2 {border: inset 10px #ff0000;}
p.sample3 {margin: 30px 30px;padding: 10px;border:medium solid #ff00ffda;}